.menuItem {
  display: flex;
  align-items: center;
  list-style: none;
  width: 200px;
  height: 30px;
  background-color: #888;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid rgba(0,0,0,0);
  font-size: 20px;
  cursor: pointer;
  user-select: none;

  &:hover {
    border: 2px solid #c82;
  }
}

.selected {
  background-color: #444;
}
